menu "Configuração do Exemplo"

    config EXAMPLE_FIRMWARE_UPGRADE_URL
        string "URL para atualização de firmware"
        default "https://192.168.2.106:8070/hello_world.bin"
        help
            URL do servidor onde está hospedado o arquivo de firmware (.bin).

    config EXAMPLE_FIRMWARE_UPGRADE_URL_FROM_STDIN
        bool
        default y if EXAMPLE_FIRMWARE_UPGRADE_URL = "FROM_STDIN"
        help
            Permite informar a URL do firmware via entrada padrão (terminal).

    config EXAMPLE_SKIP_COMMON_NAME_CHECK
        bool "Ignorar verificação do CN do certificado do servidor"
        default n
        help
            Permite ignorar a validação do campo CN (Common Name) do certificado HTTPS.

    config EXAMPLE_SKIP_VERSION_CHECK
        bool "Ignorar verificação de versão do firmware"
        default n
        help
            Permite ignorar a verificação da versão do firmware antes da atualização.

    config EXAMPLE_OTA_RECV_TIMEOUT
        int "Tempo limite de recepção OTA (ms)"
        default 5000
        help
            Tempo máximo (em milissegundos) para recebimento dos dados durante o OTA.

    config EXAMPLE_ENABLE_PARTIAL_HTTP_DOWNLOAD
        bool "Habilitar download HTTP parcial"
        default n
        help
            Habilita o uso do cabeçalho HTTP Range no componente esp_https_ota.
            O firmware será baixado em múltiplas requisições HTTP.

    config EXAMPLE_HTTP_REQUEST_SIZE
        int "Tamanho da requisição HTTP"
        default MBEDTLS_SSL_IN_CONTENT_LEN
        depends on EXAMPLE_ENABLE_PARTIAL_HTTP_DOWNLOAD
        help
            Define a quantidade de bytes baixados em cada requisição HTTP.

endmenu